@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary: #fdf8f0;
    --secondary: #f0122d;
    --dark: #1a1a1a;
    /* --zalando: #34d27b; */
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}
html {
    scroll-behavior: smooth;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
        rgb(var(--background-start-rgb));
}
.background-gradient-slide-color {
    background: linear-gradient(to left, var(--primary) 50%, var(--secondary) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-right: 10px;
    transition: all 0.5s ease;
}
.background-gradient-slide-color:hover {
    background-position: left bottom;
    color: var(--primary);
}
.underline-slide {
    position: relative;
}

.underline-slide::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transition: all 1s linear;
    background: linear-gradient(to left, var(--primary) 50%, #1a1a1a 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    margin-right: 10px;
    transition: all 0.5s ease;
}

.underline-slide:hover::after {
    background-position: left bottom;
    color: var(--primary);
}

.scrollbar_hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.scrollbar_hidden::-webkit-scrollbar {
    display: none;
}
.second_child:nth-child(2) {
    color: var(--primary);
}
.second_child_dark:nth-child(2) {
    color: var(--dark);
}
.wiggle {
    animation-direction: alternate;
    animation-timing-function: steps(2, end);
}
.text-animation {
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: #000;
    /* font-size: 100px;
    text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
    transform: translate(0, 100%) rotate(4deg); */

    animation: jump 2s ease-in-out infinite;
    /* display: inline-block;
    font-family: 'Titan One', cursive;
    color: #fff; */
}
@keyframes jump {
    /* 33% {
        text-shadow: 0 60px #f37121, 0 160px #f2aaaa;
    }
    50% {
        transform: translate(0, 0) rotate(-4deg);
        text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
    }
    66.67% {
        text-shadow: 0 -60px #d54062, 0 -160px #8fc0a9;
    } */
    0%,
    100% {
        transform: translateY(1rem);
    }
    50% {
        transform: translateY(calc(1rem * -1));
    }
}

.noise {
    position: fixed;
    z-index: 5000 !important;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    animation: grain 7s steps(10) infinite;
    background-image: url(https://res.cloudinary.com/dtbuhsktp/image/upload/v1691489836/noise_ku7yqo.png);
    background-size: 200px;
    background-repeat: repeat;
    opacity: 0.25;
    pointer-events: none;
}
@keyframes grain {
    0%,
    100% {
        transform: translate(0);
    }
    10% {
        transform: translate(-5%, -10%);
    }
    20% {
        transform: translate(-15%, 5%);
    }
    30% {
        transform: translate(7%, -25%);
    }
    40% {
        transform: translate(-5%, 25%);
    }
    50% {
        transform: translate(-15%, 10%);
    }
    60% {
        transform: translate(15%);
    }
    70% {
        transform: translateY(15%);
    }
    80% {
        transform: translate(3%, 35%);
    }
    90% {
        transform: translate(-10%, 10%);
    }
}

.headerSticky {
    position: sticky;
    top: 0;
    left: 0;
    background: var(--primary);
    z-index: 4;
    opacity: 0.9;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */
}
.darkHeaderSticky {
    position: sticky;
    top: 0;
    left: 0;
    background: #1a1a1a;
    z-index: 4;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    /* opacity: 0.9; */
    /* box-shadow: 0 10px 15px -3px var(--primary), 0 4px 6px -4px var(--primary); */
    /* box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1); */
}
